<!doctype html>

<html ng-app="liveChat">
<head>

	<title>{{title}}</title>
	<meta charset = 'utf-8'>
	<link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,700,700italic,600italic,800,800italic" rel="stylesheet" type="text/css" />
	<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/app.min.css" rel="stylesheet">
	<link href="/css/main.css" rel="stylesheet">
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular-route.js"></script>
	<script src="https://cdn.socket.io/socket.io-1.3.7.js"></script>

	<script src="http://momentjs.com/downloads/moment-with-locales.js" type="text/javascript"></script>

	<script src="liveChat.js"></script>
	<script src="/js/directive.js"></script>
</head>
<body>
	<div class="container" ng-controller='liveChatController'>
		<div class="row">
			<div class="col-sm-3 text-center">
				<h4>Your IP: {{ipAddress}}</h4>
			</div>
			
		</div>
		<hr/>
		<div class="row">
			<div class="col-sm-3">
				<ul class="list-group">
					<li class="list-group-item">
						Local Users

					</li>
					<li class="list-group-item" ng-repeat="user in users" >
						{{user}}
					</li>
				</ul>
			</div>

			<div class="col-sm-9">
				<ul class="list-group">
					<li class="list-group-item" ng-repeat="msg in messages track by $index">
						<div class="row">
							<div class="col-sm-2">
								<b>{{msg.user}}</b>
							</div>
							<div class="col-sm-10">
								{{msg.text}}
								<span ago time="msg.time" class="pull-right xs"></span>
							</div>

						</div>
					</li>
				</ul>
			</div>
		</div>
		<hr/>
		<div class="row">
			<form ng-submit="send()" class="col-sm-12">

				<div class="input-group input-group-sm">
					<input type="text" class="form-control" ng-model="text" placeholder="Message">
					<span class="input-group-btn">
						<input type="submit" class="btn btn-primary" value="Send" ng-disabled="!text">
					</span>
				</div>
			</form>
		</div>
	</div>
</body>

</html>
